{
    "extends": [
        "eslint:recommended",
        "plugin:compat/recommended",
        "prettier"
    ],
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "commonjs": false,
        "es6": true,
        "mocha": true,
        "node": true,
        "shared-node-browser": true,
        "webextensions": true,
        "worker": true
    },
    "globals": {},
    "rules": {
        "compat/compat": "error",
        "import/extensions": "off",
        "no-underscore-dangle": "off",
        "import/no-unresolved": "off",
        "no-restricted-globals": ["error", "Worker"],
    },
    "overrides": [
        {
            files: ["**/*.ts"],
            "extends": [
                "eslint:recommended",
                "plugin:compat/recommended",
                "plugin:@typescript-eslint/recommended",
                "plugin:@typescript-eslint/recommended-requiring-type-checking"
            ],
            parser: "@typescript-eslint/parser",
            parserOptions: {
                "project": "./tsconfig.json"
            },
            plugins: ["@typescript-eslint"],
            rules: {
                "lines-between-class-members": "off"
            }
        }
    ]
}
