name: Release

on:
  push:
    branches: [main]

jobs:
  release:
    name: Trigger release
    runs-on: ubuntu-22.04
    if: "!contains(github.event.head_commit.message, 'ci skip') && !contains(github.event.head_commit.message, 'skip ci')"
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0

      - name: Prepare repository
        run: |
          git fetch --depth=1 origin +refs/tags/*:refs/tags/*
          git fetch --no-tags --prune --depth=1 origin +refs/heads/*:refs/remotes/origin/*
          git fetch --prune --unshallow

      - uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84 # v3.3.2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Bootstrap
        run: |
          npm install

      - name: Build
        run: npm run build-module

      - name: Security Audit
        run: npm audit

      - name: Create release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm run release
